{% extends 'base.html' %}
{% block title %}Add new product{% endblock %}
{% block content %}
    <h1>Add new product</h1>
    <div>
        <form name="new_product" method="post">
            <fieldset>
                <legend>New product</legend>
                <label for="name">Name</label>
                <br>
                <input type="text" name="name">
                <br>
                <label for="price">Price</label>
                <br>
                <input type="number" step="0.01" name="price">
                <br>
                <label for="description">Description</label>
                <br>
                <input type="text" name="description">
                <br>
                <input type="submit" value="Add">
            </fieldset>
        </form>

    </div>
{% endblock %}
