{% extends "base.html" %}
{% block title %}
    Products
{% endblock %}
{% block content %}
    {% if products %}
        <h1>Products</h1>
        <a href="{{ url_for('add_product') }}" class="addbtn"><button>Add product</button></a>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="tablebody">
                {% for product in products %}
                    {% if loop.index % 2 == 0 %}
                    <tr class="coloredrow">
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price }}</td>
                        <td><a href="{{ url_for('delete_product', id = product.id) }}">Delete</a></td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price }}</td>
                        <td><a href="{{ url_for('delete_product', id = product.id) }}">Delete</a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No products found</h1>
        <a href="{{ url_for('add_product') }}" class="addbtn"><button>Add product</button>
    {% endif %}

{% endblock %}