{% extends "base.html" %}
{% block title %}
    Products
{% endblock %}
{% block content %}
    {% if products %}
        <h1>Products</h1>
        <a href="{{ url_for('add_product') }}"><button>Add product</button></a>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price }}</td>
                        <td><a href="{{ url_for('delete_product', id = product.id) }}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No products found</h1>
        <a href="{{ url_for('add_product') }}"><button>Add product</button>
    {% endif %}

{% endblock %}